.ais-Hits-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.ais-Hits-item {
  max-width: 33%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}
.ais-Hits {
  padding-left: 0px;
  padding-right: 0px;
}
.ais-SearchBox {
  padding: 50px;
}
.ais-SearchBox-form {
  position: relative;
  border: 1px solid #ccc;
  padding: 0 10px;
  background-color: #fff;
}
.ais-SearchBox-submit {
  background-color: #ccc;
  padding: 20px;
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 10px;
}
.ais-SearchBox-submit svg {
  height: 20px;
  width: 20px;
}
.ais-SearchBox-reset {
  background-color: #ccc;
  padding: 20px;
  position: absolute;
  top: 15px;
  right: 90px;
  border-radius: 10px;
}
.ais-SearchBox-reset svg {
  height: 20px;
  width: 20px;
}
.ais-SearchBox-input {
  height: 60px;
}
.ais-SearchBox-input:focus-visible {
  border: none;
  outline: none;
}
.filter-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 50px;
}
.ais-SortBy-select {
  background-color: #eee;
  padding: 10px;
}
.price {
  font-weight: bold;
  font-size: 30px;
}
.ais-Pagination-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.ais-Pagination-list li {
  margin: 0px 6px;
}
.ais-Pagination-link {
  display: block;
  background-color: #eee;
  padding: 6px 10px;
  border-radius: 5px;
}
.ais-Pagination-item .ais-Pagination-link {
  background-color: #ccc;
  color: #000;
  min-width: 30px;
  padding: 4px 6px;
  text-align: center;
  font-size: 2rem;
  line-height: 1;
}
.ais-Pagination-item.ais-Pagination-item--disabled .ais-Pagination-link {
  pointer-events: none;
  color: #ccc;
  background-color: #eee;
}
.ais-Pagination-item--page .ais-Pagination-link {
  background-color: #86ceed;
  color: #fff;
  min-width: 40px;
  text-align: center;
  font-size: 2rem;
  line-height: 1;
}

.ais-Pagination-item--page.ais-Pagination-item--selected .ais-Pagination-link {
  background-color: #1694ca;
  color: #fff;
  min-width: 40px;
  text-align: center;
}
.ais-Highlight {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ais-RefinementList {
  padding-left: 10px;
  padding-bottom: 10px;
}
.ais-RefinementList-labelText {
  padding-left: 10px;
}
.ais-RefinementList-count {
  margin-left: 10px;
  font-weight: 700;
}
.ais-RefinementList-item {
  margin-bottom: 10px;
}
.category_block {
  padding-left: 50px;
  width: 20%;
}
.category_block h2 {
  margin-bottom: 20px;
}
.content_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.hits_block {
  width: 80%;
}
@media only screen and (max-width: 992px) {
  .hits_block {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .category_block {
    padding-left: 20px;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .ais-Hits-item {
    max-width: 100%;
  }
  .ais-SearchBox,
  .filter-group {
    padding-left: 20px;
    padding-right: 20px;
  }
}
