.ais-Hits-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.ais-Hits-item {
  max-width: 33%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}
.ais-Hits {
  padding-left: 0px;
  padding-right: 0px;
}
.ais-SearchBox {
  padding: 50px;
  padding-bottom: 10px;
}
.ais-SearchBox-form {
  position: relative;
  border: 1px solid #ccc;
  padding: 0 10px;
  background-color: #fff;
}
.ais-SearchBox-form input{
  margin: 0;
}
.ais-Stats-text{
  @apply text-sm;
}
.ais-SearchBox-submit {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 2px;
}
.ais-SearchBox-submit svg {
  height: 20px;
  width: 20px;
}
.ais-SearchBox-reset {
  background-color: #ccc;
  padding: 20px;
  position: absolute;
  top: 15px;
  right: 90px;
  border-radius: 10px;
}
.ais-SearchBox-reset svg {
  height: 20px;
  width: 20px;
}
.ais-SearchBox-input {
  
}
.ais-SearchBox-input:focus-visible {
  border: none;
  outline: none;
}
.filter-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 50px;
}
.ais-SortBy-select {
  background-color: #eee;
  padding: 10px;
}
.price {
  font-weight: bold;
  font-size: 28px;
  
}
.ais-Pagination-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.ais-Pagination-list li {
  margin: 0px 6px;
}
.ais-Pagination-item .ais-Pagination-link {
  @apply rounded-sm text-center p-2 bg-gray-500 text-white;
}
.ais-Pagination-item.ais-Pagination-item--disabled .ais-Pagination-link {
  pointer-events: none;
  color: #ccc;
  background-color: #eee;
  @apply  text-center p-2; 
}
.ais-Pagination-item--page .ais-Pagination-link {
  @apply bg-gray-400 text-white text-center p-2;
  
}

.ais-Pagination-item--page.ais-Pagination-item--selected .ais-Pagination-link {
  @apply bg-red-800 text-white text-center p-2;  
}
.ais-Highlight {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ais-RefinementList {
  padding-left: 10px;
  padding-bottom: 10px;
}
.ais-RefinementList-label{
  @apply flex items-center;
}
.ais-RefinementList-labelText {
  padding-left: 10px;
  font-size: 11px;
}
.ais-RefinementList-count {
  margin-left: 10px;  
}
.ais-RefinementList-item {
  margin-bottom: 5px;
}
.category_block {
  padding-left: 50px;
  width: 20%;
}
.category_block h2 {
  margin-bottom: 10px;
  font-size: 14px;
}
.content_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.hits_block {
  width: 80%;
  padding-left: 20px;
}
.brandname {
  color: #c0392b;
  font-weight: 700;
}
.ais-RefinementList-count {
  @apply bg-gray-200 py-1 px-2 rounded-sm text-[10px];
}
.ais-RefinementList-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
.ais-RefinementList-list {
  padding-right: 15px;
}
.ais-Hits-item img {
  width: 250px;
  height: 220px;
  object-fit: cover;
  object-position: top center;
}
.prod_title {
  text-overflow: ellipsis;
  max-height: 50px;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  font-size: 16px;
}
.ais-SortBy {
  margin-top: 40px;
}
.free {
  color: #fff;
  padding: 3px 7px;
  background-color: #c0392b;
  text-align: center;
  font-size: 10px;
  max-width: 100px;
}
.free_wrap {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media only screen and (max-width: 992px) {
  .hits_block {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .category_block {
    padding-left: 20px;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .ais-Hits-item {
    max-width: 100%;
  }
  .ais-SearchBox,
  .filter-group {
    padding-left: 20px;
    padding-right: 20px;
  }
  .ais-Stats {
    width: 100%;
    text-align: left;
  }
  .ais-SortBy {
    width: 100%;
    text-align: right;
  }
  .ais-SearchBox {
    padding-bottom: 10px;
  }
}
